.parking_panel {
  width: 50%;
  max-width: 500px;
  margin-top: 30px;
  min-height: 150px;
}

.parking_panel__item {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: .3s;
}

.parking_panel__item:hover {
  background: #d6c4c4;
}
