.map-img__item {
  width: 230px;
  height: 80px;
  position: absolute;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
}

.item--first-child {
  margin-top: 196px;
  margin-left: -29px;
}

.item--second-child {
  margin-top: 299px;
  margin-left: 161px;
}

.item--last-child {
  margin-top: 378px;
  margin-left: 439px;
}

.map-img {
   width: 60%;
   max-width: 914px;
   max-height: 467px;
}

.map-img__item:hover > div {
  display: flex;
};
