@media only screen and (max-device-width: 600px) {
  .map-img__item {
    width: 69px;
    height: 40px;
  }

  .map-img {
    width: 100%;
  }

  .item--first-child {
    margin-top: 130px;
    margin-left: -102px;
  }

  .item--second-child {
    margin-top: 199px;
    margin-left: 127px;
  }

  .item--last-child {
    margin-top: 251px;
    margin-left: 307px;
  }
}
